# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

# Generated CMake files
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles/

# Compiled binary
a.out
a.exe

# Folders
bin/
build/